@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Markazi+Text&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Markazi Text", serif, "Karla", sans-serif;
  overflow-x: hidden;
  background-color: inherit;
}
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
code {
  font-family: "Markazi Text", serif, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  flex-wrap: wrap;
  max-width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 20px;
  height: 100%;
  max-width: 100%;
  flex-wrap: wrap;
}
nav ul li {
  cursor: pointer;
}
nav img {
  width: 204px;
  height: 45px;
}
nav .nav-item {
  color: #495e57;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Markazi Text", serif;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
nav :not(.active).nav-item:hover {
  background-color: #edefee;
}
nav .active {
  background-color: #fbdabb;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #495e57;
  height: 500px;
  padding: 20px;
  max-width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    height: auto;
  }
}
header aside {
  max-width: 560px;
}
#first-aside p {
  max-width: 250px;
  color: #fff;
  font-size: 20px;
  font-family: "Karla" sans-serif;
}
#second-aside {
  margin-top: 110px;
}
header h1 {
  color: #face14;
  font-weight: bold;
  font-size: 64px;
  font-family: "Markazi Text", serif;
  margin-bottom: 2px;
}
header h3 {
  font-size: 40px;
  color: #edefee;
  font-family: "Markazi Text", serif;
  margin-bottom: 25px;
}
#second-aside img {
  height: 430px;
  width: 350px;
  border-radius: 20px;
}
#first-btn {
  font-size: 18px;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  background-color: #face14;
  color: #000000;
  width: 230px;
  height: 60px;
  border-radius: 16px;
  border: 0px solid #face14;
  cursor: pointer;
  margin-top: 12px;
  outline: none;
}
#first-btn:hover {
  background-color: #fde57c;
}
main {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  max-width: 100%;
}
#sec-div {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
  padding: 16px;
  max-width: 100%;
}
#sec-div h1 {
  font-size: 40px;
  margin: 0px;
  font-family: "Markazi Text", serif;
}
#second-btn {
  font-size: 18px;
  font-weight: bolder;
  font-family: "Karla", sans-serif;
  background-color: #face14;
  color: #000000;
  width: 230px;
  height: 60px;
  border-radius: 16px;
  border: 0px solid #face14;
  cursor: pointer;
  outline: none;
  margin: 20px 0px 20px 0px;
}

#second-btn:hover {
  background-color: #fde57c;
}
#second-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.whole {
  width: 270px;
  display: flex;
  flex-direction: column;
  border-radius: 9px 9px 9px 9px;
  background-color: #edefee;
  margin: 20px;
  height: 460px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.whole:hover {
  box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.3);
  transform: translate(20px, -20px) scale(1.1) rotateX(-5deg) rotateY(20deg)
    rotateZ(0.8deg);
}
.img-div {
  width: 100%;
  height: 180px;
}
.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.price {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.price h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: "Markazi Text" serif;
  font-weight: 580;
}
.price span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Markazi Text" serif;
  color: #ee9972;
}
.para {
  width: 100%;
  padding: 20px;
  height: 150px;
}
.para p {
  font-family: "Karla" sans-serif;
  font-size: 19px;
  line-height: 1.5;
}
.foot-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.foot-div .order-online {
  font-family: "Karla" sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  border: 0;
  outline: none;
  cursor: pointer;
}
.foot-div img {
  height: 35px;
  width: 35px;
}
#about {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 20px 0px 0px 0px;
  background-color: #edefee;
  width: 100%;
}
#about-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}
#third-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 20px;
  margin-left: 10rem;
  @media screen and (max-width: 800px) {
    width: 400px;
    margin-left: 0px;
  }
}
#third-aside div,
#third-aside div {
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#third-aside :nth-child(1) {
  width: 100%;
}
#third-aside p {
  max-width: 400px;
  margin-right: 50px;
  font-size: 20px;
  @media screen and (max-width: 800px) {
    margin-right: 0px;
  }
}
#fourth-aside {
  max-width: 50%;
  height: 500px;
  position: relative;
  padding: 20px;
  margin: 20px;
  @media screen and (max-width: 800px) {
    width: 400px;
  }
  @media screen and (max-width: 1080px) and (min-width: 800px) {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 200px;
    margin-top: 120px;
  }
}
#fourth-aside :nth-child(1) {
  position: absolute;
  top: 8rem;
  height: 300px;
  width: 220px;
  border-radius: 7px;
  z-index: 1;
  @media screen and (max-width: 1080px) {
    display: none;
  }
}
#fourth-aside :nth-child(2) {
  position: absolute;
  left: 11rem;
  height: 300px;
  width: 230px;
  border-radius: 7px;
  @media screen and (max-width: 800px) {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }
  @media screen and (max-width: 1080px) and (min-width: 800px) {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #333333;
  flex-wrap: wrap;
  max-width: 100%;
  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;
  }
}
footer ul {
  margin: 0;
  padding: 0;
}
footer aside {
  max-width: 400px;
  height: 150px;
}
footer aside:not(:nth-child(4)) {
  border-right: 1px solid #edefee;
  @media screen and (max-width: 768px) {
    border-right: none;
    border-bottom: 1px solid #edefee;
  }
}

#fifth-aside img {
  width: 200px;
  height: 100px;
  @media screen and (max-width: 768px) {
    width: 100px;
    height: 100px;
  }
}
#fifth-aside {
  @media screen and (max-width: 768px) {
    width: 200px;
    text-align: center;
  }
}
#sixth-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  @media screen and (max-width: 768px) {
    height: 200px;
    text-align: center;
  }
}
#sixth-aside li {
  font-size: 18px;
  color: #edefee;
}
#sixth-aside ul {
  list-style: none;
}
#seventh-aside {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #edefee;
  padding: 0px 20px;
  @media screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: none;
  }
}
#seventh-aside ul {
  list-style: none;
  padding: 10px;
}
#eighth-aside {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
  color: #edefee;
  padding: 0px 20px;
}
#eighth-aside ul {
  list-style: none;
  padding: 10px;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}
#eighth-aside ul .icons {
  padding: 5px;
  background-color: #333333;
  color: #edefee;
  border: none;
  outline: none;
}
footer .footer-nav {
  padding: 5px 5px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
footer :not(.active).footer-nav:hover {
  background-color: #fbdabb;
  color: #333333;
}
footer .active {
  background-color: #edefee;
  color: #333333;
}
#form-div {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  background-color: #495e57;
}
#form-main-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  @media screen and (max-width: 775px) {
    width: 100%;
    padding: 30px;
  }
}
#reserve-div {
  display: flex;
  justify-content: left;
  color: #face14;
  font-size: 60px;
  font-weight: bold;
  @media screen and (max-width: 775px) {
    font-size: 40px;
  }
  @media screen and (max-width: 545px) {
    width: 95%;
    justify-content: center;
  }
}

#place-container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 545px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.each-place {
  display: flex;
  align-items: center;
}
.each-place label {
  font-size: 35px;
  cursor: pointer;
  color: #edefee;
  margin-right: 15px;
}
.each-place input {
  height: 18px;
  width: 20px;
  cursor: pointer;
}

.place-span {
  display: flex;
  width: 23px;
  height: 22px;
  background-color: red;
  justify-content: center;
  align-items: center;
}

label {
  margin: 0px;
}

#date-dinner {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  @media screen and (max-width: 545px) {
    flex-direction: column;
    align-items: center;
  }
}
.date-err {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-right: 30px;
  @media screen and (max-width: 545px) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
#date-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
#date-div label {
  font-size: 20px;
  color: #edefee;
}
#date-div input {
  width: 100%;
  padding: 5px 16px;
  height: 3.5rem;
  font-size: 30px;
  outline: none;
  border-radius: 10px;
  border: 0px solid;
  text-align: center;
  position: relative;
  cursor: pointer;
}
#date-div input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
#dinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}
.dinner-err {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  @media screen and (max-width: 545px) {
    margin-bottom: 20px;
  }
}
#dinner label {
  font-size: 20px;
  color: #edefee;
}
#dinner select {
  padding: 5px 16px;
  height: 3.5rem;
  font-size: 30px;
  outline: none;
  border-radius: 10px;
  text-align: center;
  appearance: none;
  cursor: pointer;
}
#occ-time {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 1.3rem;
  width: 100%;
  @media screen and (max-width: 545px) {
    flex-direction: column;
  }
}
.occ-err {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-right: 30px;
  @media screen and (max-width: 545px) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
#occ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
#occ label {
  font-size: 20px;
  color: #edefee;
}
#occ select {
  width: auto;
  padding: 5px 16px;
  height: 3.5rem;
  font-size: 30px;
  outline: none;
  border-radius: 10px;
  text-align: center;
  appearance: none;
  cursor: pointer;
}

#icon {
  position: absolute;
  right: 15px;
  top: 45px;
}
.green {
  color: #495e57;
}
.white {
  color: #edefee;
}

#time-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}
.time-err {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
#time-div label {
  font-size: 20px;
  color: #edefee;
}
#time-div select {
  padding: 5px 16px;
  height: 3.5rem;
  font-size: 30px;
  outline: none;
  border-radius: 10px;
  text-align: center;
  appearance: none;
  cursor: pointer;
}
.input-selected {
  background-color: #495e57;
  color: #edefee;
  font-weight: bold;
  border: 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -2px -3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

#form-img-div {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  position: relative;
  max-width: 100%;
  flex-wrap: wrap;
}
#form-img-div img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin: 8px 8px 8px 8px;
}
.form-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px 0px 10px 0px;
}
#form-btn {
  font-size: 18px;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  color: #000000;
  width: 230px;
  height: 60px;
  border-radius: 16px;
  border: 0px solid #face14;
  margin-top: 12px;
  outline: none;
}
.confirm-message {
  font-size: large;
  color: red;
  margin-bottom: 0;
}
#back-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: auto;
}
#back-btn button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: #495e57;
  cursor: pointer;
  background-color: #face14;
  border: 1px solid #edefee;
  border-radius: 10px;
  outline: none;
  position: relative;
  margin: 20px 0px 10px 0px;
}
.back-icon {
  color: #495e57;
  position: absolute;
  top: 22%;
  left: 22%;
}
#first-last {
  display: flex;
  justify-content: space-between;
  height: auto;
}
#first-last input {
  width: 300px;
  padding: 2px 10px;
  font-size: 20px;
  outline: none;
  margin: 5px 0px 5px 0px;
}
#input-err {
  display: flex;
  flex-direction: column;
  height: auto;
}
.label-input {
  display: flex;
  flex-direction: column;
}
span {
  font-size: 20px;
  color: #edefee;
  line-height: 0.5;
}
.confirm-label {
  color: #edefee;
  font-size: 20px;
}
#details-comment {
  display: flex;
  justify-content: space-between;
  height: auto;
}
#details {
  width: 300px;
  height: 190px;
  background-color: #333333;
  color: #edefee;
  border-radius: 10px;
  padding: 14px 16px;
  margin: 20px 0px 10px 0px;
}
#details h3 {
  color: #face14;
  font-weight: bold;
  letter-spacing: 1px;
}
#details span {
  font-size: x-large;
}
#details .sec-span {
  font-weight: bold;
  text-decoration: underline;
  color: #ee9972;
}
#details p {
  display: flex;
  justify-content: space-between;
  margin: 3px 0px;
  padding: 5px;
}
#comment-div {
  width: 300px;
  height: 170px;
}
#comment {
  padding: 2px 6px;
  font-size: 22px;
  line-height: 1;
  outline: none;
}
#agreement {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 0px 20px;
  justify-content: center;
}
#check-label {
  display: flex;
  align-items: center;
}
#agreement input[type="radio"] {
  height: 18px;
  /* add any other styles you want here */
}
#agreement label {
  color: #edefee;
  font-size: 20px;
  padding-left: 5px;
}
#agreement span {
  text-decoration: underline;
}
.privacy-span {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.confirm-btn {
  background-color: #face14;
  cursor: pointer;
}
.show-err {
  background-color: #fde57c;
  cursor: auto;
}
.hide {
  display: none;
}
.show {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #edefee;
  color: #333333;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  height: 180px;
  text-align: center;
  font-size: 30px;
  font-family: "Markazi Text", serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.show p {
  margin-bottom: 2px;
}
#back-to-home {
  font-size: 15px;
  font-weight: bold;
  font-family: "Karla", sans-serif;
  color: #000000;
  width: 150px;
  height: 40px;
  border-radius: 16px;
  border: 0px solid #face14;
  outline: none;
  background-color: #face14;
  cursor: pointer;
}
#back-to-home:hover {
  background-color: #fde57c;
}
